.widget-box.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)!important;
    border-radius: 10px!important;
    margin: 5px!important;
}

.widget-box.card:hover {
    transform: translateY(-5px)!important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2)!important;
}

.widget-header.card-header {
    background: #d9edf7!important;
    color: #ffffff!important;

}

.widget-header .collapse-icon i {
    color: #ffffff!important;
    font-size: 1.2em!important;
    cursor: pointer!important;
}

.widget-body.card-body {
    color: #555!important;
}

.widget-toolbar.card-footer {
    background: #f1f1f1!important;
    border-top: 1px solid #f8f6f6!important;
}

.widget-toolbar .footer-link {
    color: #4CAF50!important;
}

.widget-toolbar .footer-link:hover {
    color: #d9edf7!important;
}

.widget-title {
    color: #31708f !important;
    font-size: 17px !important;
}

.col-lg-3 {
    width: 24% !important;
}