

.ng-invalid:not(form){
    border-left: 5px solid red  !important;
  }
  
  
  ng-valid:not(form){
    border-left: 5px solid green  !important;
  }
  
  .ng-invalid:not(form){
    border-left: 5px solid red  !important;
  }
  
  form .ng-invalid:before{
    display: flex;
      align-items: left;
      justify-content: left;
   
    color: #e32;
    font-size: 13px;
    color: #e32 !important;
    
    border-left: 5px solid red  !important;
  }
  
  
  .scrollable-content {
    flex: 1; /* Takes the remaining horizontal space */
    padding: 10px;
    overflow-y: auto; /* Enable vertical scrolling for overflowing content */
    background-color: #fff;
  }