.align-center{
    text-align: center !important;
}
.step-box {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 5px !important;
}

.step-arrow {
    position: relative;
    background-color: #007bff;
    width: 100px; /* Adjust width to fit text */
    height: 80px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.step-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.step-number .step-text {
    display: block;
    font-size: 12px;
}

.step-content h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.step-content p {
    margin: 10px 0 0;
    color: #666;
}