.facts .container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.facts .row {
    margin-top: 0;
    margin-bottom: 0;
}

.img-fluid {
  width: 20% !important;
  /* height: 6cm !important; */
  height: auto;
  /* margin-left: 1%; */
}