
<app-top-unisection></app-top-unisection>

<div class="main-container ace-save-state" id="main-container">
    <app-unifiedapp-navigation></app-unifiedapp-navigation>
    <app-unifiedapp-userprofile></app-unifiedapp-userprofile>
    <app-unifiedapp-dashboard></app-unifiedapp-dashboard>
    <app-footer-unisection></app-footer-unisection>
    
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->