<dx-button text="{{ 'add_new' | translate }} {{ parameter_name | translate}}" type="default" icon="fa fa-plus"
    [elementAttr]="{ class: '' }" (onClick)="hasReadpermissions=false;onAddFormType()">
</dx-button>
<dx-data-grid (onCellPrepared)="onCellPrepared($event)" class="col-lg-12 table row-border hover"
    (onExporting)="onExporting($event)" [wordWrapEnabled]="true" [remoteOperations]="true" [showBorders]="true"
    [allowColumnResizing]="true" [dataSource]="formFieldsData" [columnHidingEnabled]="false" keyExpr="id"
    (onToolbarPreparing)="onAdvanceProductRegistrySearch($event)">

    <dxo-export [enabled]="true" [fileName]="'records' | translate" [formats]="['pdf', 'xlsx']"
        [allowExportSelectedData]="true">
    </dxo-export>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-filter-row [visible]="show_advancesearch"></dxo-filter-row>
    <dxo-paging [enabled]="true">
        <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)" [showPageSizeSelector]="true"
            [allowedPageSizes]="[50,100]"></dxo-pager>
    </dxo-paging>
    <dxi-column [width]="100" caption="{{ 'action' | translate }}" name="command-editing" [allowFiltering]="false"
        [allowSorting]="false" cellTemplate="cellTemplate">
        <div *dxTemplate="let data of 'cellTemplate'">
            <dx-menu (onItemClick)="funcActionColClick($event,data)" [items]="actionsMenuItems"></dx-menu>
        </div>
    </dxi-column>
    <dxi-column dataField="regulatory_function_id" caption="{{ 'regulatory_functions' | translate }}">
        <dxo-lookup [dataSource]="modulesData" displayExpr="name" valueExpr="id">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="label" caption="{{ 'label' | translate }}"> </dxi-column>
    <dxi-column dataField="name" caption="{{ 'field_name' | translate }}"></dxi-column>
    <dxi-column dataField="form_field_type_id" caption="{{ 'field_type' | translate }}">
        <dxo-lookup [dataSource]="formFieldTypeData" displayExpr="name" valueExpr="id">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="table" caption="{{ 'table' | translate }}"></dxi-column>
    <dxi-column dataField="displayfield" caption="{{'display_field' | translate }}"></dxi-column>
    <dxi-column dataField="valuefield" caption="{{'value_field' | translate }}"></dxi-column>

    <dxi-column dataField="has_relation" caption="{{'has_relation' | translate }}">
        <dxo-lookup [dataSource]="confirmationData" displayExpr="text" valueExpr="data_value">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="relation_defination" caption="{{'relation_defination' | translate }}"></dxi-column>
    <dxi-column dataField="filter_defination" caption="{{'filter_defination' | translate }}"></dxi-column>
    <dxi-column dataField="is_autoloaded" caption="{{'is_autoloaded' | translate }}">
        <dxo-lookup [dataSource]="confirmationData" displayExpr="text" valueExpr="data_value">
        </dxo-lookup>
    </dxi-column>


    <dxi-column dataField="order_no" caption="{{'order_no' | translate }}"></dxi-column>

    <dxo-selection mode="multiple"></dxo-selection>
    <dxo-group-panel [visible]="true"></dxo-group-panel>

    <dxo-paging [pageSize]="20"></dxo-paging>

</dx-data-grid>

<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#employee' }" [(visible)]="loadingVisible"
    [showIndicator]="true" [showPane]="true" [shading]="true" [message]="spinnerMessage" [hideOnOutsideClick]="false">
</dx-load-panel>

<dx-popup class="popup" [width]="funcpopWidth(70)" [height]="funcpopHeight(65)" [showTitle]="true"
    title="{{ parameter_name | translate }}" [dragEnabled]="false" [hideOnOutsideClick]="false"
    [(visible)]="onAddFormVisible">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view>
            <form (ngSubmit)="onFuncSaveFormData()" [formGroup]="formTypeFrm">
                <div class="row">
                    <div class="col-lg-6">
                        <label>{{'select_regulatory_function' | translate}}</label>

                        <dx-select-box [dataSource]="modulesData" valueExpr="id" displayExpr="name"
                            [searchEnabled]="true" placeholder="{{'select_regulatory_function' | translate}}"
                            formControlName="regulatory_function_id">
                            <div *dxTemplate="let name of 'item'">
                                <p>{{name.name}} </p>
                            </div>
                        </dx-select-box>
                    </div>
                    <div class="col-lg-6">
                        <label>{{ 'field_label' | translate }}</label>
                        <dx-text-box formControlName="label" placeholder="{{ 'field_label' | translate }}">
                        </dx-text-box>
                    </div>
                    <div class="col-lg-6">
                        <label>{{ 'field_name' | translate }}</label>
                        <dx-text-box formControlName="name" placeholder="{{ 'field_name' | translate }}">
                        </dx-text-box>
                    </div>
                    <div class="col-lg-6">
                        <label>{{ 'field_type' | translate }}</label>
                        <dx-select-box [readOnly]="false" (onSelectionChanged)="onFormFieldTypesSelectionChange($event)"
                            formControlName="form_field_type_id" [showClearButton]="true"
                            [dataSource]="formFieldTypeData" valueExpr="id" displayExpr="name">
                        </dx-select-box>
                    </div>
                    <div class="col-lg-6" *ngIf="is_combo_fieldtype">
                        <label>{{ 'displayfield' | translate }}</label>
                        <dx-text-box formControlName="displayfield" placeholder="{{ 'displayfield' | translate }}">
                        </dx-text-box>
                    </div>
                    <div class="col-lg-6" *ngIf="is_combo_fieldtype">
                        <label>{{ 'valuefield' | translate }}</label>
                        <dx-text-box formControlName="valuefield" placeholder="{{ 'valuefield' | translate }}">
                        </dx-text-box>
                    </div>
                    <div class="col-lg-6" *ngIf="is_combo_fieldtype">
                        <label>{{ 'table_name' | translate }}</label>
                        <dx-select-box [readOnly]="false" [searchEnabled]="true" formControlName="table"
                            [showClearButton]="true" [dataSource]="tableListData" valueExpr="table_name"
                            displayExpr="table_name">
                        </dx-select-box>
                    </div>
                    <div class="col-lg-6">
                        <label>{{ 'has_relation' | translate }}</label>
                        <dx-select-box [readOnly]="false" (onSelectionChanged)="onHasRelationSelectionChange($event)"
                            [searchEnabled]="true" formControlName="table" [showClearButton]="true"
                            [dataSource]="confirmationData" valueExpr="data_value" displayExpr="text">
                        </dx-select-box>
                    </div>
                    <div class="col-lg-12" *ngIf="has_relation">
                        <label for="relation_defination">{{ 'relation_defination' | translate }}</label>
                        <dx-text-area formControlName="relation_defination">
                        </dx-text-area>
                    </div>
                    <div class="col-lg-12" *ngIf="has_relation">
                        <label for="filter_defination">{{ 'filter_defination' | translate }}</label>
                        <dx-text-area formControlName="filter_defination">
                        </dx-text-area>
                    </div>

                    <div class="col-lg-12">
                        <label for="description">{{ 'description' | translate }}</label>
                        <dx-text-area formControlName="description">
                        </dx-text-area>
                    </div>
                    <div class="col-lg-6">
                        <label for="is_autoloaded">{{ 'is_autoloaded' | translate }}</label>
                        <dx-select-box [searchEnabled]="true" formControlName="is_autoloaded"
                            [dataSource]="confirmationData" valueExpr="data_value" displayExpr="text">
                        </dx-select-box>
                    </div>
                    <div class="col-lg-6">
                        <label for="description">{{ 'enable/disable' | translate }}</label>
                        <dx-select-box [searchEnabled]="true" formControlName="is_enabled"
                            [dataSource]="confirmationData" valueExpr="data_value" displayExpr="text">
                        </dx-select-box>
                    </div>
                    <div class="col-lg-6">
                        <label>{{ 'has_addnewrelation_data' | translate }}</label>
                        <dx-select-box [readOnly]="false"
                            (onSelectionChanged)="onHasAddNewReleationSelectionChange($event)" [searchEnabled]="true"
                            formControlName="has_addnewrelation_data" [showClearButton]="true"
                            [dataSource]="confirmationData" valueExpr="data_value" displayExpr="text">
                        </dx-select-box>
                    </div>
                    <div class="col-lg-6" *ngIf="has_addnewrelation_data">
                        <label>{{ 'has_addnewforeignrelation_data' | translate }}</label>
                        <dx-select-box [readOnly]="false" (onSelectionChanged)="onHasRelationSelectionChange($event)"
                            [searchEnabled]="true" formControlName="has_addnewforeignrelation_data"
                            [showClearButton]="true" [dataSource]="confirmationData" valueExpr="data_value"
                            displayExpr="text">
                        </dx-select-box>
                    </div>
                    <div class="col-lg-6" *ngIf="has_addnewrelation_data">
                        <label>{{ 'foreignrelation_name' | translate }}</label>
                        <dx-text-box formControlName="foreignrelation_name"
                            placeholder="{{ 'foreignrelation_name' | translate }}">
                        </dx-text-box>
                    </div>
                    <div class="col-lg-6" *ngIf="has_addnewrelation_data">
                        <label>{{ 'foreignrelation_displayfield' | translate }}</label>
                        <dx-text-box formControlName="foreignrelation_displayfield"
                            placeholder="{{ 'foreignrelation_displayfield' | translate }}">
                        </dx-text-box>
                    </div>
                    <div class="col-lg-6" *ngIf="has_addnewrelation_data">
                        <label>{{ 'foreignrelation_valuefield' | translate }}</label>
                        <dx-text-box formControlName="foreignrelation_valuefield"
                            placeholder="{{ 'foreignrelation_valuefield' | translate }}">
                        </dx-text-box>
                    </div>
                    <div class="col-lg-6" *ngIf="has_addnewrelation_data">
                        <label>{{ 'foreignrelation_table' | translate }}</label>
                        <dx-select-box [readOnly]="false" [searchEnabled]="true" formControlName="foreignrelation_table"
                            [showClearButton]="true" [dataSource]="tableListData" valueExpr="table_name"
                            displayExpr="table_name">
                        </dx-select-box>
                    </div>
                </div>

            </form>

            <div class="col-lg-8 pull-right">

            </div><br>
            <div class="col-lg-6 pull-right">
                <dx-button text="{{ 'save' | translate }} {{ parameter_name | translate}}" type="default"
                    icon="fa fa-save" [elementAttr]="{ id: 'elementId', class: 'pull-right' }"
                    (onClick)="onFuncSaveFormData()">
                </dx-button>

            </div>
        </dx-scroll-view>
    </div>
</dx-popup>



<dx-popup [visible]="deletePopupVisible" [width]="funcpopWidth(30)" [height]="funcpopHeight(25)" [showTitle]="true"
    title="{{ 'delete_confirmation_of'+parameter_name | translate }}" (onHidden)="deletePopupVisible = false">

    <div>
        <p class="confirmation-text">
            {{ 'are_you_sure_you_want_to_delete' | translate }}
            "<strong>{{config_record}}</strong>"?
        </p>
        <div class="button-container">
            <dx-button text="{{ 'yes' | translate }}" type="danger" (onClick)="onDeleteConfigurationsDetails()">
            </dx-button>
            <dx-button text="{{ 'no' | translate }}" (onClick)="deletePopupVisible = false">
            </dx-button>
        </div>
    </div>

</dx-popup>

<dx-popup [visible]="enablePopupVisible" [width]="funcpopWidth(30)" [height]="funcpopHeight(25)" [showTitle]="true"
    title="{{ enabledisable_formtype | translate }}" (onHidden)="enablePopupVisible = false">

    <div>
        <p class="confirmation-text">
            {{ enabledisable_formtypedescription | translate }}
            "<strong>{{config_record}}</strong>"?
        </p>
        <div class="button-container">
            <dx-button text="{{ 'yes' | translate }}" type="danger" (onClick)="iniateEnableDisableRecord()">
            </dx-button>
            <dx-button text="{{ 'no' | translate }}" (onClick)="enablePopupVisible = false">
            </dx-button>
        </div>
    </div>

</dx-popup>