<!-- <div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h5 class="m-0">{{ parameter_name | translate }}</h5>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/admin-ecres/app-dashboard">{{ 'home' | translate
                                }}</a></li>
                        <li class="breadcrumb-item active">{{ parameter_name | translate }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div> -->

    <section class="content">
        <div class="container-fluid">
            <dx-tab-panel id="Navigation Tab" [swipeEnabled]="false" [showNavButtons]="true" [animationEnabled]="true" [tabsPosition]="tabsPosition">

                <dxi-item title="{{ 'navigation_system_interfaces' | translate }}" icon="fa fa-cog">
                    <app-navigation-interfaces></app-navigation-interfaces>
                </dxi-item>
               
                <dxi-item title="{{ 'navigation_levels' | translate }}" icon="fa fa-setup">
                    <app-navigation-levels></app-navigation-levels>
                </dxi-item>
                <dxi-item title="{{ 'navigation_types' | translate }}" icon="fa fa-setup">
                    <app-navigation-types></app-navigation-types>
                </dxi-item>
                <dxi-item title="{{ 'navigation_items' | translate }}" icon="fa fa-table">

                    <app-navigations></app-navigations>
                </dxi-item>
            </dx-tab-panel>
        </div>
    </section>