<dx-button text="{{ 'add_new' | translate }} {{ parameter_name | translate}}" type="default" icon="fa fa-plus"
    [elementAttr]="{ class: '' }" (onClick)="hasReadpermissions=false;onAddNavigationItem()">
</dx-button>

<dx-tree-list *ngIf="table_name == 'ptl_navigation_items'"  id="navigations" class="col-lg-12"
    dataStructure="tree" [wordWrapEnabled]="true" [dataSource]="AppNavigationMenus" itemsExpr="children" 
    parentIdExpr="parent_id" [expandedRowKeys]="[1, 2]" [selectedRowKeys]="[1, 29, 42]">
    <dxo-paging [enabled]="true">
        <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)" [showPageSizeSelector]="true"
            [allowedPageSizes]="[50,100]"></dxo-pager>
    </dxo-paging>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-selection mode="multiple"></dxo-selection>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxi-column width="150" caption="{{ 'action' | translate }}" name="command-editing" [allowFiltering]="false"
        [allowSorting]="false" cellTemplate="cellTemplateAction">
        <div *dxTemplate="let data of 'cellTemplateAction'">
            <dx-menu (onItemClick)="funcActionColClick($event,data)" [items]="actionsMenuItems"></dx-menu>

        </div>
    </dxi-column>

    <dxi-column dataField="navigation_type_id" caption="Navigation Type">
        <dxo-lookup [dataSource]="navigationTypesData" displayExpr="name" valueExpr="id">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="name" caption="{{ 'name' | translate }}">

    </dxi-column>
    <dxi-column dataField="description" caption="{{ 'description' | translate }}">

    </dxi-column>

    <dxi-column dataField="iconsCls" caption="iconsCls">

    </dxi-column>
    <dxi-column dataField="parent_id" caption="Parent">
        <dxo-lookup [dataSource]="AppNavigationMenus" displayExpr="description" valueExpr="id">
        </dxo-lookup>
    </dxi-column>

    <dxi-column dataField="level" caption="Level">
        <dxo-lookup [dataSource]="navigationLevelsData" displayExpr="name" valueExpr="code">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="order_no" caption="Order #"></dxi-column>
    <dxi-column dataField="system_interface_id" caption="Link">
        <dxo-lookup [dataSource]="AppSystemInterfaceData" displayExpr="routerlink" valueExpr="id">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="regulatory_function_id" caption="regulatory_function">
        <dxo-lookup [dataSource]="AppRegulatoryFunctionsData" displayExpr="routerlink" valueExpr="id">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="regulatory_subfunction_id" caption="regulatory_subfunction">
        <dxo-lookup [dataSource]="AppRegulatorySubFunctionsData" displayExpr="routerlink" valueExpr="id">
        </dxo-lookup>
    </dxi-column>
    <dxo-selection mode="multiple"></dxo-selection>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-paging [pageSize]="500"></dxo-paging>

</dx-tree-list>
<dx-data-grid *ngIf="table_name != 'ptl_navigation_items'" (onCellPrepared)="onCellPrepared($event)"
    class="col-lg-12 table row-border hover" (onExporting)="onExporting($event)" [wordWrapEnabled]="true"
    [dataSource]="countriesinfoData" [remoteOperations]="true" [showBorders]="true" [allowColumnResizing]="true"
    [columnHidingEnabled]="false" keyExpr="id" (onToolbarPreparing)="onAdvanceProductRegistrySearch($event)">

    <dxo-export [enabled]="true" [fileName]="'records' | translate" [formats]="['pdf', 'xlsx']"
        [allowExportSelectedData]="true">
    </dxo-export>
    <dxo-search-panel [visible]="true"></dxo-search-panel>

    <dxo-filter-row [visible]="show_advancesearch"></dxo-filter-row>
    <dxo-paging [enabled]="true">
        <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)" [showPageSizeSelector]="true"
            [allowedPageSizes]="[50,100]"></dxo-pager>
    </dxo-paging>

    <dxi-column [width]="100" caption="{{ 'action' | translate }}" name="command-editing" [allowFiltering]="false"
        [allowSorting]="false" cellTemplate="cellTemplate">
        <div *dxTemplate="let data of 'cellTemplate'">
            <dx-menu (onItemClick)="funcActionColClick($event,data)" [items]="actionsMenuItems"></dx-menu>
        </div>
    </dxi-column>
    <dxi-column *ngIf="table_name == 'par_institutions'" dataField="country_of_origin_id"
        caption="{{ 'country' | translate }}">
        <dxo-lookup [dataSource]="Countries" displayExpr="name" valueExpr="id">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="name" caption="{{ 'name' | translate }}"></dxi-column>
    <dxi-column dataField="description" caption="{{ 'description' | translate }}"></dxi-column>
    <dxi-column *ngIf="table_name == 'ptl_system_interfaces'" dataField="routerlink"
        caption="{{ 'navigations_routers_links' | translate }}">

    </dxi-column>
    <dxi-column *ngIf="table_name == 'ptl_system_interfaces'" dataField="navigation_type_id"
        caption="{{'navigation_types' | translate }}">
        <dxo-lookup [dataSource]="navigationTypesData" displayExpr="name" valueExpr="id">
        </dxo-lookup>
    </dxi-column>
    <dxi-column *ngIf="table_name == 'ptl_system_interfaces'" dataField="workflow_id"
        caption="{{'workflow_id' | translate }}">
        <dxo-lookup [dataSource]="workflowData" displayExpr="name" valueExpr="id">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="code" caption="{{ 'code' | translate }}"></dxi-column>
    <dxi-column dataField="iso_acyronym" caption="{{ 'iso_code' | translate }}"></dxi-column>

    <dxo-selection mode="multiple"></dxo-selection>
    <dxo-group-panel [visible]="true"></dxo-group-panel>

    <dxo-paging [pageSize]="500"></dxo-paging>

</dx-data-grid>

<!-- </div> -->

<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#employee' }" [(visible)]="loadingVisible"
    [showIndicator]="true" [showPane]="true" [shading]="true" [message]="spinnerMessage" [hideOnOutsideClick]="false">
</dx-load-panel>


<dx-popup class="popup" [width]="funcpopWidth(65)" [height]="funcpopHeight(45)" [showTitle]="true"
    title="{{ parameter_name | translate }}" [dragEnabled]="false" [hideOnOutsideClick]="false"
    [(visible)]="onAddNavigationItemVisible">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view>
            <form *ngIf="table_name == 'ptl_navigation_items'" (ngSubmit)="onFuncSaveNavigationData()"
                [formGroup]="navigationItemsFrm">

                <div class="row">
                    <div class="col-lg-4">
                        <label for="unitName">{{ 'navigation_type' | translate }}</label>
                        <dx-select-box [dataSource]="navigationTypesData" formControlName="navigation_type_id"
                            [showClearButton]="true" valueExpr="id" [searchEnabled]="true" displayExpr="name">
                        </dx-select-box>
                    </div>

                    <div class="col-lg-4">
                        <label for="unitName">{{ 'navigation_name' | translate }}</label>
                        <dx-text-box formControlName="name" placeholder="{{ 'navigation_name' | translate }}">
                        </dx-text-box>
                    </div>

                    <div class="col-lg-4">
                        <label for="description">{{ 'description' | translate }}</label>
                        <dx-text-box formControlName="description" placeholder="{{ 'description' | translate }}">
                        </dx-text-box>
                    </div>

                    <div class="col-lg-4" *ngIf="table_name == 'ptl_navigation_items'">
                        <label for="iconsCls">Icons</label>
                        <dx-text-box formControlName="iconsCls" placeholder="iconsCls">
                        </dx-text-box>
                    </div>
                    <div class="col-lg-4">
                        <label for="level">{{ 'level' | translate }}</label>

                        <dx-select-box (onValueChanged)="onValueChangeNavigationLevel($event.value)"
                            [dataSource]="navigationLevelsData" formControlName="level" [showClearButton]="true"
                            valueExpr="code" [searchEnabled]="true" displayExpr="name">
                        </dx-select-box>
                    </div>
                    <div class="col-lg-4">
                        <label for="parent_id">{{ 'parent' | translate }}</label>
                        <dx-select-box [dataSource]="navigationItemsParentData" formControlName="parent_id"
                            [showClearButton]="true" valueExpr="id" [searchEnabled]="true" displayExpr="description">
                        </dx-select-box>
                    </div>


                    <div class="col-lg-4">
                        <label for="level">{{ 'order_no' | translate }}</label>
                        <dx-text-box formControlName="order_no" placeholder="{{ 'order_no' | translate }}">
                        </dx-text-box>
                    </div>
                    <div class="col-lg-4">
                        <label for="routerLink">{{ 'link' | translate }}</label>

                        <dx-select-box [dataSource]="AppSystemInterfaceData" formControlName="system_interface_id"
                            [showClearButton]="true" valueExpr="id" [searchEnabled]="true" displayExpr="name">
                        </dx-select-box>

                    </div>
                    <div class="col-lg-4">
                        <label for="regulatory_function_id">{{ 'regulatory_function' | translate }}</label>

                        <dx-select-box [dataSource]="AppRegulatoryFunctionsData" formControlName="regulatory_function_id"
                            [showClearButton]="true" valueExpr="id" [searchEnabled]="true" displayExpr="name">
                        </dx-select-box>

                    </div>
                    <div class="col-lg-4">
                        <label for="regulatory_subfunction_id">{{ 'regulatory_sub_function' | translate }} {{'(optional)'|translate}}</label>

                        <dx-select-box [dataSource]="AppRegulatorySubFunctionsData" formControlName="regulatory_subfunction_id"
                            [showClearButton]="true" valueExpr="id" [searchEnabled]="true" displayExpr="name">
                        </dx-select-box>

                    </div>
                </div>

            </form>

            <form *ngIf="table_name != 'ptl_navigation_items'" role="form" enctype="multipart/form-data" role="form"
                [formGroup]="navigationItemsFrm" (ngSubmit)="onFuncSaveNavigationData()">

                <div class="row">
                    <div *ngIf="table_name == 'par_institutions'" class="col-lg-6">
                        <label>{{ 'country' | translate }}</label>
                        <dx-select-box [dataSource]="Countries" formControlName="country_of_origin_id" valueExpr="id"
                            [searchEnabled]="true" displayExpr="name">
                        </dx-select-box>
                    </div>
                    <div class="col-lg-6">
                        <label for="unitName">{{ 'navigation_types' | translate }}</label>
                        <dx-select-box [dataSource]="navigationTypesData" formControlName="navigation_type_id"
                            [showClearButton]="true" valueExpr="id" [searchEnabled]="true" displayExpr="name">
                        </dx-select-box>
                    </div>
                    <div class="col-lg-6">

                        <label>{{ 'name' | translate }}</label>
                        <dx-text-box formControlName="name" [showClearButton]="true">

                        </dx-text-box>
                    </div>

                    <div class="col-lg-6">

                        <label>{{ 'code' | translate }}</label>
                        <dx-text-box formControlName="code" [showClearButton]="true">

                        </dx-text-box>
                    </div>
                    <div class="col-lg-6">

                        <label>{{ 'iso_code' | translate }}</label>
                        <dx-text-box formControlName="iso_acyronym" [showClearButton]="true">

                        </dx-text-box>
                    </div>
                    <div class="col-lg-6" *ngIf="table_name == 'ptl_system_interfaces'">
                        <label>{{ 'router_link' | translate }}</label>
                        <dx-text-box formControlName="routerlink" [showClearButton]="true">

                        </dx-text-box>
                    </div>
                    <div *ngIf="table_name == 'par_country_of_origin'" class="col-lg-6">
                        <label>{{ 'is_member_state' | translate }}</label>
                        <dx-select-box formControlName="is_member_state" [showClearButton]="true"
                            [dataSource]="regStatusOptions" valueExpr="value" displayExpr="text">
                        </dx-select-box>
                    </div>
                    <div *ngIf="table_name == 'par_generic_name'" class="col-lg-6">
                        <label>{{ "is_tracer_item" | translate }}</label>
                        <dx-select-box formControlName="is_tracer_item" [dataSource]="regStatusOptions"
                            valueExpr="value" displayExpr="text"></dx-select-box>
                    </div>
                    <div class="col-lg-12">

                        <label>{{ 'description' | translate }}</label>
                        <dx-text-area formControlName="description">

                        </dx-text-area>
                    </div>
                </div>

            </form>
            <div class="col-lg-8 pull-right">

            </div><br>
            <div class="col-lg-4 pull-right">
                <dx-button text="{{ 'save' | translate }} {{ parameter_name | translate}}" type="default"
                    icon="fa fa-save" [elementAttr]="{ id: 'elementId', class: 'pull-right' }"
                    (onClick)="onFuncSaveNavigationData()">
                </dx-button>

            </div>
        </dx-scroll-view>
    </div>
</dx-popup>

<dx-popup [visible]="deletePopupVisible" [width]="funcpopWidth(30)" [height]="funcpopHeight(25)" [showTitle]="true"
    title="{{ 'delete_confirmation_of '+parameter_name | translate }}" (onHidden)="deletePopupVisible = false">

    <div>
        <p class="confirmation-text">
            {{ 'are_you_sure_you_want_to_delete' | translate }}
            "<strong>{{config_record}}</strong>"?
        </p>
        <div class="button-container">
            <dx-button text="{{ 'yes' | translate }}" type="danger" (onClick)="onDeletePortalWorkflowsDetails()">
            </dx-button>
            <dx-button text="{{ 'no' | translate }}" (onClick)="deletePopupVisible = false">
            </dx-button>
        </div>
    </div>

</dx-popup>