<dx-button text="{{ 'add_new' | translate }} {{ parameter_name | translate}}" type="default" icon="fa fa-plus"
  [elementAttr]="{ class: '' }" (onClick)="hasReadpermissions=false;onAddNewConfig()">
</dx-button>

<dx-data-grid (onCellPrepared)="onCellPrepared($event)" class="col-lg-12 table row-border hover"
  (onExporting)="onExporting($event)" [wordWrapEnabled]="true" [dataSource]="NewConfigData"
  [remoteOperations]="true" [showBorders]="true" [allowColumnResizing]="true" [columnHidingEnabled]="true" keyExpr="id"
  (onToolbarPreparing)="onAdvanceProductRegistrySearch($event)">

  <dxo-export [enabled]="true" [fileName]="'records' | translate" [formats]="['pdf', 'xlsx']"
    [allowExportSelectedData]="true">
  </dxo-export>
  <dxo-search-panel [visible]="true"></dxo-search-panel>

  <dxo-filter-row [visible]="show_advancesearch"></dxo-filter-row>
  <dxo-paging [enabled]="true">
    <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)" [showPageSizeSelector]="true"
      [allowedPageSizes]="[50,100]"></dxo-pager>
  </dxo-paging>

  <dxi-column [width]="100" caption="{{ 'action' | translate }}" name="command-editing" [allowFiltering]="false"
    [allowSorting]="false" cellTemplate="cellTemplate">
    <div *dxTemplate="let data of 'cellTemplate'">
      <dx-menu (onItemClick)="funcActionColClick($event,data)" [items]="actionsMenuItems"></dx-menu>
    </div>
  </dxi-column>

  <dxi-column dataField="name" caption="{{ 'name' | translate }}"></dxi-column>

  <dxi-column dataField="description" caption="{{ 'description' | translate }}"></dxi-column>

  <dxi-column *ngIf="table_name == 'cfg_premises_types'" dataField="permit_type_title" caption="{{ 'permit_type_title' | translate }}"  ></dxi-column>

  <dxi-column  *ngIf="table_name == 'cfg_premises_types'" dataField="act_name" caption="{{ 'act_name' | translate }}" > </dxi-column>
    
  <dxi-column *ngIf="table_name == 'cfg_business_types'" dataField="premise_type_id" caption="{{ 'premise_type' | translate }}" >
        <dxo-lookup [dataSource]="premiseTypeData" displayExpr="name" valueExpr="id">
        </dxo-lookup>
  </dxi-column>

  <dxi-column *ngIf="table_name == 'cfg_business_types'" dataField="pharmaceuticallicense_type_id" caption="{{ 'pharmaceuticallicense_type' | translate }}" >
        <dxo-lookup [dataSource]="pharmaceuticalTypeData" displayExpr="name" valueExpr="id">
        </dxo-lookup>
  </dxi-column>
  <dxi-column *ngIf="table_name == 'cfg_business_types'" dataField="regulatory_function_id" caption="{{ 'regulatory_function' | translate }}">
        <dxo-lookup [dataSource]="regTypeData" displayExpr="name" valueExpr="id">
        </dxo-lookup>
  </dxi-column>

    <dxi-column *ngIf="table_name == 'cfg_business_types'" dataField="business_typecategory_id" caption="{{ 'business_type_category' | translate }}">
        <dxo-lookup [dataSource]="businessTypeData" displayExpr="name" valueExpr="id">
        </dxo-lookup>
    </dxi-column>
    <dxi-column *ngIf="table_name == 'cfg_business_type_details'" dataField="business_type_id" caption="{{ 'business_type' | translate }}">
        <dxo-lookup [dataSource]="businessTypeDetailsData" displayExpr="name" valueExpr="id">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="is_enabled" caption="{{ 'is_enabled' | translate }}" [dataType]="'boolean'" [width]="100">
        <dxo-editing [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true"></dxo-editing>
    </dxi-column>

</dx-data-grid>


<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#employee' }" [(visible)]="loadingVisible"
  [showIndicator]="true" [showPane]="true" [shading]="true" [message]="spinnerMessage" [hideOnOutsideClick]="false">
</dx-load-panel>

<dx-popup class="popup" [width]="funcpopWidth(75)" [height]="440" [showTitle]="true" [@flyInOut]
  title="{{ 'add_new' | translate }} {{parameter_name | translate }}" [dragEnabled]="false" [hideOnOutsideClick]="true"
  [(visible)]="onAddNewConfiVisible">

  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view>

        <form role="form" enctype="multipart/form-data" [formGroup]="createNewDataFrm" (ngSubmit)="onFuncSaveNewConfigData()">
            <div class="row">
              <div class="col-lg-6">
                <label>{{ 'name' | translate }}</label>
                <dx-text-box formControlName="name" [showClearButton]="true"></dx-text-box>
              </div>
              <div class="col-lg-6">
                <label>{{ 'description' | translate }}</label>
                <dx-text-box formControlName="description" [showClearButton]="true"></dx-text-box>
              </div>
              <div class="col-lg-6">
                <label>{{ "is_enabled" | translate }}</label>
                <dx-select-box [searchEnabled]="true" formControlName="is_enabled" [dataSource]="regStatusOptions" valueExpr="value" displayExpr="text"></dx-select-box>
              </div>
            </div>
            
          
            <div class="row" *ngIf="table_name == 'cfg_business_types'">
              <div class="col-lg-6">
                <label>{{ 'premise_type' | translate }}</label>
                <dx-select-box [dataSource]="premiseTypeData" formControlName="premise_type_id" valueExpr="id" [searchEnabled]="true" displayExpr="name"></dx-select-box>
              </div>
              <div class="col-lg-6">
                <label>{{ 'pharmaceuticallicense_type' | translate }}</label>
                <dx-select-box [dataSource]="pharmaceuticalTypeData" formControlName="pharmaceuticallicense_type_id" valueExpr="id" [searchEnabled]="true" displayExpr="name"></dx-select-box>
              </div>
              <div class="col-lg-6">
                <label>{{ 'regulatory_function' | translate }}</label>
                <dx-select-box [dataSource]="regTypeData" formControlName="regulatory_function_id" valueExpr="id" [searchEnabled]="true" displayExpr="name"></dx-select-box>
              </div>
              <div class="col-lg-6">
                <label>{{ 'business_type_category' | translate }}</label>
                <dx-select-box [dataSource]="businessTypeData" formControlName="business_typecategory_id" valueExpr="id" [searchEnabled]="true" displayExpr="name"></dx-select-box>
              </div>
              <div class="col-lg-6">
                <label>{{ "is_enabled" | translate }}</label>
                <dx-select-box [searchEnabled]="true" formControlName="is_enabled" [dataSource]="regStatusOptions" valueExpr="value" displayExpr="text"></dx-select-box>
              </div>
            </div>
          
            <div class="row" *ngIf="table_name == 'cfg_business_type_details'">
              <div class="col-lg-6">
                <label>{{ 'business_type' | translate }}</label>
                <dx-select-box [dataSource]="businessTypeDetailsData" formControlName="business_type_id" valueExpr="id" [searchEnabled]="true" displayExpr="name"></dx-select-box>
              </div>
            
          
           

            </div>
            <div class="col-lg-4 pull-right">
                <dx-button text="{{ 'save' | translate }} {{ parameter_name | translate }}" type="default" icon="fa fa-save" [elementAttr]="{ id: 'elementId', class: 'pull-right' }" (onClick)="onFuncSaveNewConfigData()"></dx-button>
              </div>
          </form>
    </dx-scroll-view>
  </div>
</dx-popup>


<dx-popup [visible]="deletePopupVisible" [width]="funcpopWidth(30)" [height]="funcpopHeight(25)" [showTitle]="true"
  title="{{ 'delete_confirmation_of'+parameter_name | translate }}" (onHidden)="deletePopupVisible = false">

  <div>
    <p class="confirmation-text">
      {{ 'are_you_sure_you_want_to_delete' | translate }}
      "<strong>{{config_record}}</strong>"?
    </p>
    <div class="button-container">
      <dx-button text="{{ 'yes' | translate }}" type="danger" (onClick)="onDeleteConfigurationsDetails()">
      </dx-button>
      <dx-button text="{{ 'no' | translate }}" (onClick)="deletePopupVisible = false">
      </dx-button>
    </div>
  </div>

</dx-popup>

<dx-popup [visible]="enablePopupVisible" [width]="funcpopWidth(30)" [height]="funcpopHeight(25)" [showTitle]="true"
  title="{{ enabledisable_tracer | translate }}" (onHidden)="enablePopupVisible = false">

  <div>
    <p class="confirmation-text">
      {{ enabledisable_tracerdescription | translate }}
      "<strong>{{config_record}}</strong>"?
    </p>
    <div class="button-container">
      <dx-button text="{{ 'yes' | translate }}" type="danger" (onClick)="iniateEnableDisableRecord()">
      </dx-button>
      <dx-button text="{{ 'no' | translate }}" (onClick)="enablePopupVisible = false">
      </dx-button>
    </div>
  </div>

</dx-popup>





































































