<div class="row mb-2">
    <div class="col-sm-6">
        <h4 class="m-0">{{ parameter_name | translate }}</h4>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="admin-mis">{{ 'Home' | translate
                    }}</a></li>
            <li class="breadcrumb-item active">{{ parameter_name | translate }}</li>
        </ol>
    </div>
</div>

<dx-data-grid  (onCellPrepared)="onCellPrepared($event)"
class="col-lg-12 table row-border hover" (onExporting)="onExporting($event)" [wordWrapEnabled]="true"
 [remoteOperations]="true" [showBorders]="true" [allowColumnResizing]="true"
[columnHidingEnabled]="false" keyExpr="id" (onToolbarPreparing)="onAdvancePortalProcessesSearch($event)">

<dxo-export [enabled]="true" [fileName]="'records' | translate" [formats]="['pdf', 'xlsx']"
    [allowExportSelectedData]="true">
</dxo-export>
<dxo-search-panel [visible]="true"></dxo-search-panel>

<dxo-filter-row [visible]="show_advancesearch"></dxo-filter-row>
<dxo-paging [enabled]="true">
    <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)" [showPageSizeSelector]="true"
        [allowedPageSizes]="[50,100]"></dxo-pager>
</dxo-paging>

   <!-- <dxi-column [width]="100" caption="{{ 'action' | translate }}" name="command-editing" [allowFiltering]="false"
        [allowSorting]="false" cellTemplate="cellTemplate">
        <div *dxTemplate="let data of 'cellTemplate'">
            <dx-menu (onItemClick)="funcActionColClick($event,data)" [items]="actionsMenuItems"></dx-menu>
        </div>
    </dxi-column> -->
<dxi-column caption="{{ 'Options' | translate }}" cellTemplate="optionsTemplate"></dxi-column>
<dxi-column dataField="module_name" caption="{{ 'Module Name' | translate }}"></dxi-column>
<dxi-column dataField="sub_module_name" caption="{{ 'Sub Module Name' | translate }}"></dxi-column>
<dxi-column dataField="section" caption="{{ 'Section' | translate }}"></dxi-column>
<dxi-column dataField="status" caption="{{ 'Status' | translate }}"></dxi-column>
<dxi-column dataField="product_class_category" caption="{{ 'Product Class Category' | translate }}"></dxi-column>
<dxi-column dataField="import_export_permit" caption="{{ 'Import/Export Permit Type' | translate }}"></dxi-column>
<dxi-column dataField="product_class_category" caption="{{ 'Product Class Category' | translate }}"></dxi-column>
<dxi-column dataField="name" caption="{{ 'Name' | translate }}"></dxi-column>
<dxi-column dataField="is_enabled" caption="{{ 'Is Enabled' | translate }}"></dxi-column>


<dxo-selection mode="multiple"></dxo-selection>
    <dxo-group-panel [visible]="true"></dxo-group-panel>

    <dxo-paging [pageSize]="500"></dxo-paging>

</dx-data-grid>

<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#employee' }" [(visible)]="loadingVisible"
    [showIndicator]="true" [showPane]="true" [shading]="true" [message]="spinnerMessage" [hideOnOutsideClick]="false">
</dx-load-panel>