<div class="container app-container ">

  <dx-tab-panel class="fullpage-tab col-lg-12" id="Navigation Tab" [stylingMode]="stylingMode"
    [tabsPosition]="tabsPosition" [swipeEnabled]="false" [showNavButtons]="true" [animationEnabled]="true">

    <dxi-item title="{{ 'all_infections' | translate }}" icon="fa fa-navicon">
      <div class="col-lg-12 label-colorred">
        <h3>{{'filter_on_all_infections_period' | translate}} </h3>
      </div>
      <div class="col-lg-12">
        <dx-select-box class="col-lg-2" placeholder="{{'select_diseases' | translate}}"
          [dataSource]="regulatory_functionsdata" [showClearButton]="true" valueExpr="id" [searchEnabled]="true"
          displayExpr="name">
        </dx-select-box>
        <dx-select-box class="col-lg-2" placeholder="{{'selection_country' | translate}}" [dataSource]="countryData"
          [showClearButton]="true" valueExpr="id" [searchEnabled]="true" displayExpr="name">
        </dx-select-box>
        <div class="col-lg-2">
          <dx-select-box placeholder="{{'select_reporting_period' | translate}}" [dataSource]="reportingPeriodData"
            [showClearButton]="true" valueExpr="id" [searchEnabled]="true" displayExpr="name">
          </dx-select-box>
        </div>
        <div class="col-lg-3">
          <dx-date-box></dx-date-box>
        </div>
        <div class="col-lg-3">
          <dx-date-box></dx-date-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item title="{{ 'human_infections' | translate }}" icon="fa fa fa-group">
      <div class="col-lg-12 label-colorred">
        <h3>{{'filter_on_human_infections' | translate}} </h3>
      </div>
      <div class="col-lg-12">
        <dx-select-box class="col-lg-2" placeholder="{{'select_diseases' | translate}}"
          [dataSource]="regulatory_functionsdata" [showClearButton]="true" valueExpr="id" [searchEnabled]="true"
          displayExpr="name">
        </dx-select-box>
        <dx-select-box class="col-lg-2" placeholder="{{'selection_country' | translate}}" [dataSource]="countryData"
          [showClearButton]="true" valueExpr="id" [searchEnabled]="true" displayExpr="name">
        </dx-select-box>
        <div class="col-lg-2">
          <dx-select-box placeholder="{{'select_reporting_period' | translate}}" [dataSource]="reportingPeriodData"
            [showClearButton]="true" valueExpr="id" [searchEnabled]="true" displayExpr="name">
          </dx-select-box>
        </div>
        <div class="col-lg-3">
          <dx-date-box></dx-date-box>
        </div>
        <div class="col-lg-3">
          <dx-date-box></dx-date-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item title="{{ 'animal_infections' | translate }}" icon="fa fa-clone">
      <h3>{{'filter_on_animal_infections' | translate}} </h3>
      <div class="col-lg-12">
        <dx-select-box class="col-lg-2" placeholder="{{'select_diseases' | translate}}"
          [dataSource]="regulatory_functionsdata" [showClearButton]="true" valueExpr="id" [searchEnabled]="true"
          displayExpr="name">
        </dx-select-box>
        <dx-select-box class="col-lg-2" placeholder="{{'selection_country' | translate}}" [dataSource]="countryData"
          [showClearButton]="true" valueExpr="id" [searchEnabled]="true" displayExpr="name">
        </dx-select-box>
        <div class="col-lg-2">
          <dx-select-box placeholder="{{'select_reporting_period' | translate}}" [dataSource]="reportingPeriodData"
            [showClearButton]="true" valueExpr="id" [searchEnabled]="true" displayExpr="name">
          </dx-select-box>
        </div>
        <div class="col-lg-3">
          <dx-date-box></dx-date-box>
        </div>
        <div class="col-lg-3">
          <dx-date-box></dx-date-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item title="{{ 'environment' | translate }}" icon="fa fa-clone">
      <h3>{{'filter_on_environment_related_infections' | translate}} </h3>
      <div class="col-lg-12">
        <dx-select-box class="col-lg-2" placeholder="{{'select_diseases' | translate}}"
          [dataSource]="regulatory_functionsdata" [showClearButton]="true" valueExpr="id" [searchEnabled]="true"
          displayExpr="name">
        </dx-select-box>
        <dx-select-box class="col-lg-2" placeholder="{{'selection_country' | translate}}" [dataSource]="countryData"
          [showClearButton]="true" valueExpr="id" [searchEnabled]="true" displayExpr="name">
        </dx-select-box>
        <div class="col-lg-2">
          <dx-select-box placeholder="{{'select_reporting_period' | translate}}" [dataSource]="reportingPeriodData"
            [showClearButton]="true" valueExpr="id" [searchEnabled]="true" displayExpr="name">
          </dx-select-box>
        </div>
        <div class="col-lg-3">
          <dx-date-box></dx-date-box>
        </div>
        <div class="col-lg-3">
          <dx-date-box></dx-date-box>
        </div>
      </div>
    </dxi-item>

  </dx-tab-panel>
  <div class="col-lg-12 div-margintop">
    <div class="geo-mappingdiv col-lg-8">

      <!-- Main Content (Map) -->
      <div class="map-container" [ngClass]="{'full-screen': sections['mapFull']}">
        <button class="fullscreen-btn btn btn-secondary" (click)="toggleFullScreen('mapFull')">
          <fa-icon [icon]="sections['mapFull'] ? faCompress : faExpand"></fa-icon>
        </button>
        <div style="height: 90%;width: 100%;" class="div-homemap col-lg-12" leaflet [leafletOptions]="options"
          [leafletLayers]="layers" [leafletLayersControl]="layersControl" (leafletMapReady)="onMapReady($event)">

        </div>
      </div>

    </div>
    <div class="col-lg-4">
      <dx-data-grid class="col-lg-12 custom-datagrid"  [wordWrapEnabled]="true"
        [dataSource]="surveillanceDetailsData" [remoteOperations]="true" [showBorders]="true"
        [allowColumnResizing]="true" [columnHidingEnabled]="false">

        <dxo-search-panel [visible]="false"></dxo-search-panel>

        <dxo-filter-row [visible]="show_advancesearch"></dxo-filter-row>
        <dxo-paging [enabled]="true">
          <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)" [showPageSizeSelector]="true"
            [allowedPageSizes]="[50,100]"></dxo-pager>
        </dxo-paging>

        <dxi-column dataField="description" caption="{{ 'partner_state' | translate }}"></dxi-column>
        <dxi-column dataField="diseases" caption="{{ 'diseases' | translate }}"></dxi-column>
        <dxi-column dataField="source_of_infection" caption="{{ 'source_of_infection' | translate }}"></dxi-column>

        <dxi-column dataField="cases" caption="{{ 'cases' | translate }}"></dxi-column>
        <dxi-column dataField="is_enabled" caption="{{ 'view_details' | translate }}">
        </dxi-column>
      </dx-data-grid>
    </div>
  </div>

</div>