<div class="container-fluid bg-dark text-light px-0 py-2 topfirst-panel">
  <div class="top-bar d-flex justify-content-between  py-2 px-3">
    <div>
      <label class="form-label mb-0 me-2 language-option">{{ 'select_language' | translate }}</label>
      <ng-container *ngFor="let language of translate.getLangs()">
        <span class="language-option cursor-pointer " (click)="switchLang($event, language)"
          [ngClass]="{'active-language': language === translate.currentLang}">
          {{ language }} |
        </span>
      </ng-container>
    </div>

    <div *ngIf="!authService.isLoggedIn">
      <div class="dropdown">

        <span class="cursor-pointer language-option dropdown-toggle" type="button" id="dropdownMenuButton"
          data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-sign-in"></i> {{ 'sign-in_create_account' | translate }}
        </span>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li>
            <app-appsign-in></app-appsign-in>
            <!-- Expanding Sign-In Form -->

          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="authService.isLoggedIn" class="">
      <span class="logged-in-text">{{ 'already_logged_in' | translate }}</span>
      <span class="username">{{ 'username' | translate }} | {{userFirstName}}</span>
      <span class="dashboard-link cursor-pointer language-option" (click)="funcRedirectToDashboard()">
        <i class="fa fa-arrow-right"></i> {{ 'access_dashboard' | translate }}
      </span>
      ||
      <span class="logout-link cursor-pointer language-option" (click)="funcUserLogOut()">
        <i class="fa fa-sign-out"></i> {{ 'logout' | translate }}
      </span>
    </div>

  </div>
</div>
<div class="container-fluid topsecond-panel">
  <div class="row gx-0 d-lg-flex align-items-center ">
    <div class="col-lg-1  div-marginglogo">
      <div class="logo_container">
        <!-- Add logo here -->
      </div>
    </div>

    <div class="col-lg-8">
      <span class="col-lg-12 system-title animated slideInDown">

        <!-- EAC INFORMATION SHARING PLATFORM FOR DISEASES SURVEILLANCE AND EPIDEMIC INTELLIGENCE-->
        EAC Regional Pandemic and Epidemic Dashboard
      </span>
      <p class="col-lg-12 clstopsystem_title">({{'system_title' | translate}})</p>
    </div>

  </div>
</div>


<ng-http-loader spinner="sk-wave" [filteredMethods]="['POST', 'PuT','GET']"></ng-http-loader>
<ng-http-loader [filteredMethods]="['gEt', 'POST', 'PuT']"></ng-http-loader>