<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>
            <li class="active">{{parameter_name | translate}}</li>
        </ul>

    </div>


    <div class="page-content">
        <div class="page-header">
            <h1>
                {{parameter_name | translate}}
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    overview &amp; stats
                </small>
            </h1>
        </div>


        <div class="container-fluid">
            <dx-tab-panel class="fullpage-tab" id="Navigation Tab" [stylingMode]="stylingMode"
                [tabsPosition]="tabsPosition" [swipeEnabled]="false" [showNavButtons]="true" [animationEnabled]="true">

                <dxi-item title="{{ 'sampling_reason' | translate }}" icon="fa fa-th-list">

                    <app-sampling-reason></app-sampling-reason>
                </dxi-item>

                <dxi-item title="{{ 'sample_application_types' | translate }}" icon="fa fa-th-list">
                    <app-sample-applicationtypes></app-sample-applicationtypes>

                </dxi-item>

                <dxi-item title="{{ 'pms_screening_decisions' | translate }}" icon="fa fa-th-list">

                    <app-pms-screeningdecisions></app-pms-screeningdecisions>
                </dxi-item>
                <dxi-item title="{{ 'pms_evaluation_decisions' | translate }}" icon="fa fa-th-list">

                    <app-pmsevaluation-decisions></app-pmsevaluation-decisions>
                </dxi-item>
                <dxi-item title="{{ 'pms_tc_meeting_decision' | translate }}" icon="fa fa-th-list">

                    <app-pmstcmeeting-decision></app-pmstcmeeting-decision>
                </dxi-item>
                <dxi-item title="{{ 'pms_analysis_decision' | translate }}" icon="fa fa-th-list">

                    <app-pmsanalysis-decision></app-pmsanalysis-decision>
                </dxi-item> 
                 <dxi-item title="{{ 'pms_approval_decision' | translate }}" icon="fa fa-th-list">

                    <app-pmsapproval-decision></app-pmsapproval-decision>
                </dxi-item>  
                <dxi-item title="{{ 'pms_sampling_stages' | translate }}" icon="fa fa-th-list">

                    <app-pmssampling-stages></app-pmssampling-stages>
                </dxi-item>

               

            </dx-tab-panel>
        </div>
    </div>
</div>