.pb-5, .py-5 {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}



.loader_gif {
  position: absolute;
  left:     0;
  top:      0;
  width:    100%;
  height:   100%;
  z-index:  20000;
 /* background: #076D08 repeat center;
  background:url(../images/bg.jpg) no-repeat center;*/
  background: linear-gradient(50deg, #0099D0, #E2E2E2, #C0D7DF);
}


.loader {
  position: absolute;
  left:     48%;
  top:      45%;
  z-index:  20001;
}
.center_loaderdiv{
  position: absolute;
  left:     17%;
  top:      20%;
  width:60%;
  height: 35%;
  font-weight: bold ! important;
  border-radius:5px;

}

.pb-5, .py-5 {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

.div-eacdescription{
  border-right: 1px solid #ccc !important;
  text-align:justify;
  line-height: 35px !important;
  padding-right: 5px !important;
  padding-left: 7% !important;
}

.div-eaclogin {
  text-align:justify;
  /* line-height: 35px !important;  */
  padding-right: 7% !important;
  padding-left: 20px !important;
}
.input-group{
  margin:0 !important;
}