.navbar .navbar-nav > li{
  border: 0px !important;
}

.navbar-light {
    background-color: #ffffff !important;
}
.dropdown-menu-login{
        width: 250px !important;
        padding: 10px !important;
}
.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9)
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.9)
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.55)
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.7)
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, 0.3)
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.9)
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0.1)
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280,0,0,0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-light .navbar-text {
    color: rgba(0, 0, 0, 0.55)
}

.navbar-light .navbar-text a,
.navbar-light .navbar-text a:hover,
.navbar-light .navbar-text a:focus {
    color: rgba(0, 0, 0, 0.9)
}

.navbar-dark .navbar-brand {
    color: #fff
    
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
    color: #fff
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.999);
    font-size: 15px !important;
    font-weight: bold !important;

}


.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255,255,255,0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-dark .navbar-text {
    color: rgba(255, 255, 255, 0.55)
}

.navbar-dark .navbar-text a,
.navbar-dark .navbar-text a:hover,
.navbar-dark .navbar-text a:focus {
    color: #fff
}


.navbar-brand img {
    height: 100%;
    max-height: 80px; 
    box-shadow:#EEEEEE;
    position: fixed;
}
/* 
.logo_img{
    background:url(assets/dist/img/eac-logo.png) no-repeat left top;

  } */
  /* .nav-bgimage{
    background: url("../../../../../../src/assets/dist/img/nav.jpg") !important;
  } */

  .bg-dark {
    background-color: #44bdf6 !important;
  }
  


  .nav-item {
    font-size:18px;
  }
  .flare {
    background:#ef662b;
  }
  .flare a.nav-link {
    color:#fff !important
  }
  .topbarElements > div:nth-of-type(1){
    font-size:48px;
    margin:12px 32px;
    color:#ef662b
  }
  @media screen and (min-width:1040px){
    .flare { margin-right:-15px; }
  }
  @media screen and (max-width:1029px){
    .navbar-nav {
      margin-bottom:15px;
      text-align:center
    }
    .nav-item {
      background : rgba(255,255,255,0.1);
      margin:2px;
    }
  }


  
/*** Navbar ***/
.navbar.sticky-top {
    top: -100px;
    transition: .5s;
  }
  
  .navbar .navbar-brand,
  .navbar a.btn {
    height: 55px;
  }
  
  a.btn:hover {
    background-color: #2a722d;
  }
  
  
  .navbar .navbar-nav .nav-link:hover,
  .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
  }
  
  .navbar .dropdown-toggle::after {
    border: none;
    font-weight: 200 !important;
    vertical-align: middle;
    margin-left: 8px;
  }
  
  @media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
      margin-right: 0;
      padding: 10px 0;
    }
  
    .navbar .navbar-nav {
      border-top: 1px solid #EEEEEE;
    }
  }
  
  @media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
      display: block;
      border: none;
      margin-top: 0;
      top: 150%;
      opacity: 0;
      visibility: hidden;
      transition: .5s;
    }
  
    .navbar .nav-item:hover .dropdown-menu {
      top: 100%;
      visibility: visible;
      transition: .5s;
      opacity: 1;
    }
  }
  

  
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  
  .navbar>.container,
  .navbar>.container-fluid,
  .navbar>.container-sm,
  .navbar>.container-md,
  .navbar>.container-lg,
  .navbar>.container-xl,
  .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between
  }
  
  .navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1rem;
    white-space: nowrap
  }
  
  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
  }
  
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0
  }
  
  .navbar-nav .dropdown-menu {
    position: static
  }
  
  .navbar-text {
    padding-top: .5rem;
    padding-bottom: .5rem
  }
  
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center
  }
  
  .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: box-shadow 0.15s ease-in-out
  }
  
  @media (prefers-reduced-motion: reduce) {
    .navbar-toggler {
      transition: none
    }
  }
  
  .navbar-toggler:hover {
    text-decoration: none
  }
  
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 .25rem
  }
  
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%
  }
  .custom-file-upload {
    margin-top: 10px !important;
    padding: 10px;
    cursor: pointer;
    background-color: #008000;
    color: #fff;
    width:100% !important;
    border-radius: 0px;
  }
  .navbar-nav-scroll {
    max-height: var(--bs-scroll-height, 75vh);
    overflow-y: auto
  }
  
  @media (min-width: 576px) {
  
  
    .navbar-expand-sm {
      flex-wrap: nowrap;
      justify-content: flex-start
    }
  
    .navbar-expand-sm .navbar-nav {
      flex-direction: row
    }
  
    .navbar-expand-sm .navbar-nav .dropdown-menu {
      position: absolute
    }
  
    .navbar-expand-sm .navbar-nav .nav-link {
      padding-right: .5rem;
      padding-left: .5rem
    }
  
    .navbar-expand-sm .navbar-nav-scroll {
      overflow: visible
    }
  
    .navbar-expand-sm .navbar-collapse {
      display: flex !important;
      flex-basis: auto
    }
  
    .navbar-expand-sm .navbar-toggler {
      display: none
    }
  }
  
  @media (min-width: 768px) {
    .navbar-expand-md {
      flex-wrap: nowrap;
      justify-content: flex-start
    }
  
    .navbar-expand-md .navbar-nav {
      flex-direction: row
    }
  
    .navbar-expand-md .navbar-nav .dropdown-menu {
      position: absolute
    }
  
    .navbar-expand-md .navbar-nav .nav-link {
      padding-right: .5rem;
      padding-left: .5rem
    }
  
    .navbar-expand-md .navbar-nav-scroll {
      overflow: visible
    }
  
    .navbar-expand-md .navbar-collapse {
      display: flex !important;
      flex-basis: auto
    }
  
    .navbar-expand-md .navbar-toggler {
      display: none
    }
  }
  
  @media (min-width: 992px) {
    .navbar-expand-lg {
      flex-wrap: nowrap;
      justify-content: flex-start
    }
  
    .navbar-expand-lg .navbar-nav {
      flex-direction: row
    }
  
    .navbar-expand-lg .navbar-nav .dropdown-menu {
      position: absolute
    }
  
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: .5rem;
      padding-left: .5rem
    }
  
    .navbar-expand-lg .navbar-nav-scroll {
      overflow: visible
    }
  
    .navbar-expand-lg .navbar-collapse {
      display: flex !important;
      flex-basis: auto
    }
  
    .navbar-expand-lg .navbar-toggler {
      display: none
    }
  }
  
  @media (min-width: 1200px) {
    .navbar-expand-xl {
      flex-wrap: nowrap;
      justify-content: flex-start
    }
  
    .navbar-expand-xl .navbar-nav {
      flex-direction: row
    }
  
    .navbar-expand-xl .navbar-nav .dropdown-menu {
      position: absolute
    }
  
    .navbar-expand-xl .navbar-nav .nav-link {
      padding-right: .5rem;
      padding-left: .5rem
    }
  
    .navbar-expand-xl .navbar-nav-scroll {
      overflow: visible
    }
  
    .navbar-expand-xl .navbar-collapse {
      display: flex !important;
      flex-basis: auto
    }
  
    .navbar-expand-xl .navbar-toggler {
      display: none
    }
  }
  
  @media (min-width: 1400px) {
    .navbar-expand-xxl {
      flex-wrap: nowrap;
      justify-content: flex-start
    }
  
    .navbar-expand-xxl .navbar-nav {
      flex-direction: row
    }
  
    .navbar-expand-xxl .navbar-nav .dropdown-menu {
      position: absolute
    }
  
    .navbar-expand-xxl .navbar-nav .nav-link {
      padding-right: .5rem;
      padding-left: .5rem
    }
  
    .navbar-expand-xxl .navbar-nav-scroll {
      overflow: visible
    }
  
    .navbar-expand-xxl .navbar-collapse {
      display: flex !important;
      flex-basis: auto
    }
  
    .navbar-expand-xxl .navbar-toggler {
      display: none
    }
  }
  
  .navbar-expand {
    flex-wrap: nowrap;
    justify-content: flex-start
  }
  
  .navbar-expand .navbar-nav {
    flex-direction: row
  }
  
  .navbar-expand .navbar-nav .dropdown-menu {
    position: absolute
  }
  
  .navbar-expand .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem
  }
  
  .navbar-expand .navbar-nav-scroll {
    overflow: visible
  }
  
  .navbar-expand .navbar-collapse {
    display: flex !important;
    flex-basis: auto
  }
  
  .navbar-expand .navbar-toggler {
    display: none
  }
  
  .navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9)
  }
  
  .navbar-light .navbar-brand:hover,
  .navbar-light .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.9)
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #363737 !important;
  }
  
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link:focus {
    color: #363737 !important;
  }
  
  .navbar-light .navbar-nav .nav-link.disabled {
    color: #363737 !important;
  }
  
  .navbar-light .navbar-nav .show>.nav-link,
  .navbar-light .navbar-nav .nav-link.active {
    color: #363737 !important;
  }
  
  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0.1)
  }
  
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280,0,0,0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
  }
  
  .navbar-light .navbar-text {
    color: rgba(0, 0, 0, 0.55)
  }
  
  .navbar-light .navbar-text a,
  .navbar-light .navbar-text a:hover,
  .navbar-light .navbar-text a:focus {
    color: rgba(0, 0, 0, 0.9)
  }
  
  .navbar-dark .navbar-brand {
    color: #fff
  }
  
  .navbar-dark .navbar-brand:hover,
  .navbar-dark .navbar-brand:focus {
    color: #fff
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: #fff
  }
  
  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75)
  }
  
  .navbar-dark .navbar-nav .nav-link.disabled {
    color: #fff
  }
  
  .navbar-dark .navbar-nav .show>.nav-link,
  .navbar-dark .navbar-nav .nav-link.active {
    color: #fff
  }
  
  .navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.55);
    border-color: rgba(255, 255, 255, 0.1)
  }
  
  .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255,255,255,0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
  }
  
  .navbar-dark .navbar-text {
    color: rgba(255, 255, 255, 0.55)
  }
  
  .navbar-dark .navbar-text a,
  .navbar-dark .navbar-text a:hover,
  .navbar-dark .navbar-text a:focus {
    color: #fff
  }

  
.nav-sidebar>.nav-item {
    line-height: 3.5 !important;
  }
  
  .nav-sidebar {
    width: 250px !important;
  }
  
  .nav-sidebar>.fas {
    line-height: 3.5 !important;
  }
  
  .sidebar-mini .main-sidebar .nav-link,
  .sidebar-mini-md .main-sidebar .nav-link,
  .sidebar-mini-xs .main-sidebar .nav-link {
    width: calc(250px) !important;
    transition: width ease-in-out .3s;
  }

  
  
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
  }
  
  .nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #48A6DB;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out
  }
  
  @media (prefers-reduced-motion: reduce) {
    .nav-link {
      transition: none
    }
  }
  
  .nav-link:hover,
  .nav-link:focus {
    color: #2a722d
  }
  
  .nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default
  }
  
  .nav-tabs {
    border-bottom: 1px solid #dee2e6
  }
  
  .nav-tabs .nav-link {
    margin-bottom: -1px;
    background: none;
    border: 1px solid transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
  }
  
  .nav-tabs .nav-link:hover,
  .nav-tabs .nav-link:focus {
    border-color: #e9ecef #e9ecef #dee2e6;
    isolation: isolate
  }
  
  .nav-tabs .nav-link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent
  }
  
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff
  }
  
  .nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0
  }
  
  .nav-pills .nav-link {
    background: none;
    border: 0;
    border-radius: 4px
  }
  
  .nav-pills .nav-link.active,
  .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #48A6DB
  }
  
  .nav-fill>.nav-link,
  .nav-fill .nav-item {
    flex: 1 1 auto;
    text-align: center
  }
  
  .nav-justified>.nav-link,
  .nav-justified .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center
  }
  
  .nav-fill .nav-item .nav-link,
  .nav-justified .nav-item .nav-link {
    width: 100%
  }
  

  .navbar .navbar-nav > li > a {
    padding-top: 15px !important;;
    padding-bottom: 11px;
    height: 55px !important;;
    background-color: transparent;
    font-size: 18px !important;
    font-weight: normal !important;
    color: #FFF;
    text-shadow: 0 !important;
  }

  .navbar .navbar-nav > li.open > a, .navbar .navbar-nav > li > a:focus, .navbar .navbar-nav > li > a:hover {
    background-color: rgba(0, 0, 0, .1) !important;
    color: #FFF !important;
    cursor: pointer !important;
    
    text-decoration: none  !important;
  }